p, body, label, select, option{font-size: 16px; font-family: 'Open Sans', sans-serif; color: #999;}
body{background: rgb(65, 64, 64);}
.jumbotron {background-color: rgba(238, 238, 238, 0.06);}
.jumbotron.home{ background-image: url("https://s3-us-west-1.amazonaws.com/naimerica.com/assets/img/naimerica_color_flag.png"); background-size: 100%;}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{background-color: #266782;}
a {color: #266782;}

/* CATSUM */
#output{margin: 0px;height: 120px;display: inline-block;width: 686px;resize: none;background: transparent;border: none;display: none;}
#output:selected,#output:focus{color: #23527c;}
#output:focus {outline: none;border: none;}
#selectall{display:none; font-size: 65%;}
#selectall:hover{cursor: pointer;}

/* NUMEROLOGY */
.wrapWrap{display: none;}
#numberResultWrapper{  
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	flex-direction: row; 
	flex-wrap: wrap; 
	justify-content: space-around; 
}
.numberResult{width: 200px; font-size: 2em; text-align: center; border: 1px dashed; margin-top: .75em;}
.numberResult:hover{cursor: pointer; border-color: black; color: white; background-color: #aaa;}
.numberResult:before{ content: attr(number); display: block; font-size: 3em; color: white;}


/* NET EFFECTIVE RENT */
.jumbotron .input-group-btn>.btn {
	padding: 6px 12px;
	font-size: 14px;
}

.input-group{
	margin-bottom: 5px;
}

.net-effective-rent #output{
	height: auto;
	font-size: 36px;
	text-align: center;
}

@media screen and (max-width: 640px){
	.net-effective-rent #output{
		max-width: 480px;
	}
}

@media screen and (max-width: 480px){
	.net-effective-rent #output{
		max-width: 400px;
	}
	.jumbotron .btn{
		max-width: 100%;
		font-size: 17px;
	}
}

@media screen and (max-width: 320px){
	.net-effective-rent #output{
		max-width: 280px;
	}

	.jumbotron .btn{
		max-width: 280px;
		font-size: 13px;
	}
}